@import "tailwindcss";

html,
body {
	background-color: #050a16;
	height: 100%;
	margin: 0;
}

@layer components {
	.card {
		@apply flex justify-center w-full bg-[#0C111F] mt-8 p-8 rounded-xl border border-[#1C2533];
	}
}

@utility flex-center {
	@apply flex justify-center items-center;
}
